@{
  Layout = "_Layout";
}

<h1>Welcome to the Animal Shelter!</h1>
<p>@Html.ActionLink("See all species", "Index", "Species")

</p> 
<p>@Html.ActionLink("See all animal breeds", "Index", "Breeds")

</p>

